<mat-toolbar>
  <mat-toolbar-row>
    <button mat-icon-button (click)="toggleSidenav()" data-testid="sidenav-toggle">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav (closed)="closeSidenav()" [opened]="isSidenavOpen$ | async" data-testid="sidenav-content">
    <mat-nav-list data-testid="nav-list">
      <a routerLink="/routing" data-testid="routing-link">Routing</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div data-testid="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
